@model CStore.Models.RAM
@{
    Layout = "_Layout";
    ViewData["Title"] = "Edit RAM";
}

<form class="col-8" asp-action="EditRAM" asp-controller="Admin" asp-anti-forgery="true">
    <div class="validation" asp-validation-summary="ModelOnly"></div>

    <div class="mb-3">
        <label for="qw" class="form-label" asp-for="Name">Наименование</label><br />
        <input class="form-control" name="name" id="qw" type="text" asp-for="Name" />
        <span class="form-text" asp-validation-for="Name" />
    </div>

    <div class="mb-3">
        <label asp-for="Type" class="form-label" for="qw">Тип</label>
        <select name="type" asp-for="Type" id="qw" class="form-control">
            <option>@RAM.RAMType.DDR2</option>
            <option>@RAM.RAMType.DDR3</option>
            <option>@RAM.RAMType.DDR4</option>
        </select>
    </div>

    <div class="mb-3">
        <label for="qw" class="form-label" asp-for="Amount">Объем памяти</label><br />
        <select asp-for="Amount" id="qw" class="form-control">
            <option>@RAM.AMOUNT1GB</option>
            <option>@RAM.AMOUNT2GB</option>
            <option>@RAM.AMOUNT4GB</option>
            <option>@RAM.AMOUNT8GB</option>
            <option>@RAM.AMOUNT16GB</option>
            <option>@RAM.AMOUNT32GB</option>
            <option>@RAM.AMOUNT64GB</option>
        </select>
    </div>

    <div class="mb-3">
        <label for="qw" class="form-label" asp-for="Cost">Стоимость</label><br />
        <input class="form-control" id="qw" type="number" asp-for="Cost" />
        <span class="form-text" asp-validation-for="Cost" />
    </div>

    <div class="mb-3">
        <label for="qw" class="form-label" asp-for="Manufacturer">Производитель</label><br />
        <input class="form-control" name="manufacturer" id="qw" type="text" asp-for="Manufacturer" />
        <span class="form-text" asp-validation-for="Manufacturer" />
    </div>

    <input asp-for="Id" type="hidden" />
    <div>
        <button type="submit" class="btn btn-secondary">Изменить</button>
    </div>

</form>


    <div class="col-4">
        <h4>До редактирования</h4>
        <h5 class="card-title">Name: @Model.Name</h5>
        <p class="card-text">
            Type: @Model.Type <br />
            Amount: @Model.Amount <br />
            Manufactured by @Model.Manufacturer<br />
            Price <span class="badge badge-secondary">@Model.Cost р</span>
        </p>
    </div>


@section scripts{

    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}